.App {
  display: flex;
  flex-direction: column;
 
  justify-content: flex-start ;
  background-color: #d9d2d2;
  width: 500px;
  margin-top: 50px auto;
  margin-left: 500px;
  padding: 10px;
  border-radius: 8px;
}

.App h1 {
  text-align: center;

}

.form {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px ;

}

.form input[type="text"] {

  padding: 10px;
  width: 85%;
  border: 1px solid;
  border-radius: 6px;

}


.form input[type="text"]:focus {

  outline: none;

}

.form button[type="submit"]:focus {

  outline: none;

}

.form button[type="submit"] {

  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;


}

.todo-listItems{
  width: 100%;
  display: flex;
  flex-direction: column;


}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-content{
  display: flex;
  width: 60%;
}
.todo-item button{
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}

.todo-item button:focus{
  outline: none;
}
.update-item{
  background-color: #eb5a17;
  color: #fff;
}

.delete-item{
  background-color: greenyellow;
  color: #fff;
}